.sapMTile{

}

.sapMTileActive{

}

.CustomizeBtn{
	position: fixed;
	z-index: 1000;

	top: 0px;
	right: 0px;

	margin: 5px;

	opacity: 0.25;
	color: #007cc0;

	font-size: 1.25rem;

	cursor: pointer !important;
}

.CustomizeBtn:hover{
	opacity: 1.0;
}

.sapMStdTileNum{
	font-family: Arial !important;
	font-stretch: normal !important;
}

.Tile{
	background-color: #fafafa;
	border: 1px solid #DDD;
	padding: 0.5rem;
	margin: 0.5rem;
}
.TileTemp{
	height: 18rem;
	width: 21rem;
	/* background-image: url(../icons/svg/sw-06.svg); */ 
    background-position: right;
    background-repeat: no-repeat;
    background-size: 11rem;
}

.TileGust{
	height: 8rem;
	width: 21rem;
}

.TilePrecip{
	height: 8rem;
	width: 21rem;
}

.TileForecast{
	height: 10rem;
	width: 13.3rem;
}
.TileForecastBorderBottom{
	border-bottom: thick solid rgba(131,165,179,1)
}
.TileForecastPaddingTop{
	padding-top: 2.5%;
}
.TileForecastPadding2{
	padding-top: 65%;
}
.TileForecastImagePaddingTop{
	padding-top: 10%;
}
.TileForecastPaddingLeft{
	padding-left: 7%
}


/*Begin Changes Tanja */
.image{
	height: 9.5rem;
}
.marginBottom{
	margin-bottom: 3.5rem;
}
.marginTop{
	margin-top: 1rem;
}
.town{
	font-size: 2rem !important;
	margin-left: 0.5rem;
}
.curTemp{
	font-size: 3.5rem !important;
	margin-left: 0.5rem;
}
.curWeather{
	font-size: 1.2rem !important;
	margin-top: 2rem;
}
.feltTemp{
	font-size: 1rem !important;
}
.highLow{
	font-size: 1rem !important; 
}
/*End Changes Tanja */

/*.CustomTile{
	padding: 10px;
	
	height: 20rem !important;
}
.CustomTile .City{
	text-align: right;
	font-size: 1.7rem;
}
.CustomTile .Temp{
	font-size: 2rem;
}
.CustomTile .Temp .Number{
	font-size: 4.3rem;
}
.CustomTile .Temp .Unit{
	font-size: 1.4rem;
}
.CustomTile .Icon{
	margin-top: 10px;
	opacity: 0.5;
	width: 100px;
}*/

.LabelGustStrength{
	font-size: 2.0rem !important;
}
.LabelGustDir{
	font-size: 1.7rem !important;
}