html{
	//zoom: 1.7;
}

.sapMTile{

}

.sapMTileActive{

}

.CustomizeBtn{
	position: fixed;
	z-index: 1000;

	top: 0px;
	right: 0px;

	margin: 5px;

	opacity: 0;
	color: #007cc0;

	font-size: 1.25rem;

	cursor: pointer !important;
}

.CustomizeBtn:hover{
	opacity: 1.0;
}

.sapMStdTileNum{
	font-family: Arial !important;
	font-stretch: normal !important;
}

.Tile{
	background-color: #fafafa;
	border: 2px solid #DDD;
	padding: 0.5rem;
	margin: 0.5rem;
}
.TileTemp{
	height: calc(18rem + 4px);
	width: 21rem;
	/* background-image: url(../icons/svg/sw-06.svg); */ 
    background-position: right;
    background-repeat: no-repeat;
    background-size: 11rem;
}

.TileGust{
	height: 8rem;
	width: 21rem;
}

.TilePrecip{
	height: 8rem;
	width: 21rem;
}

.TileForecast{
	height: 10rem;
	width: 13.3rem;
}
.TileForecastBorderBottom{
	border-bottom: 2px solid rgba(102,102,102,1);
}
.TileForecastPaddingTop{
	padding-top: 2.5%;
}
.TileForecastPadding2{
	padding-top: 65%;
}
.TileForecastImagePaddingTop{
	padding-top: 10%;
}
.TileForecastPaddingLeft{
	padding-left: 7%
}
.TileForcastBigText{
	font-size: 1.0rem !important; 
}

/*****Begin Temp Tile*****/


.town{
	font-size: 2rem !important;
}


.curTemp{
	font-size: 3.0rem !important;

	background-color: rgba(250, 250, 250, 0.9);
	border-radius: 100px;
	/*border: 4px solid #666;*/
	margin-left: -4px;

	position: absolute;
	z-index: 100;

	right: 0;
	top: -2rem;

	/*width: 4rem;
	line-height: 4rem;*/
	text-align: center !important;
}
.curTemp:after{
}
.WeatherIcon{
}
.WeatherIcon img{
	height: 8rem;
	max-width: 8rem;
}
.feltTemp{
	font-size: 1rem !important;
}
.curWeather{
	font-size: 1.2rem !important;
	/* margin-top: 2rem;
	margin-bottom: -3rem; */
}



.highLow{
	font-size: 1rem !important; 
}
.ImgTempTileMarginBottom{
	margin-bottom: 1rem;
}

/*****End Temp Tile*****/

.LabelGustStrength{
	font-size: 2.0rem !important;
}
.LabelGustDir{
	font-size: 1.7rem !important;
}

.MainPage {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a4d80+0,178299+50,2dabb3+100 */
	background: #1a4d80; /* Old browsers */
	background: -moz-linear-gradient(top,  #1a4d80 0%, #178299 50%, #2dabb3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1a4d80 0%,#178299 50%,#2dabb3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1a4d80 0%,#178299 50%,#2dabb3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a4d80', endColorstr='#2dabb3',GradientType=0 ); /* IE6-9 */
}
