.CircleProgress{
	
}

.CircleProgressInner{
    position: relative;
    z-index: 90;

    background-color: #666;
    border-radius: 100%;

    text-align: center;
}

.CircleProgressGauge{
	display: inline-block;
	vertical-align: middle;


    border-radius: 100%;

    margin-top: -1px;
    border: 0px solid #009de0;
    outline: white;

    box-shadow: 0 0 0 2px white;
}