.Rainometer{
	display: inline-block;
	padding: 10px;

	width: 100px;
    height: 100px;
}

.Rainometer .RainometerInner{
	position: relative;
	width: 100%;
    height: 100%;
    background-color: #555;
    overflow: hidden;
}



.Rainometer .RainometerInner .RainometerOverlay{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;

	background-image: url("../icons/raindrop.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.Rainometer .RainometerInner .RainometerGauge{
	position: absolute;
	z-index: 1;
    bottom: 0px;

    width: 100%;
    /* height has to be computed with JS */
    background-color: #009de0;
}

.Rainometer .RainometerInner .RainometerGaugeTopBorder{
	border-top: 2px solid #FAFAFA;
	/*border-top-left-radius: 85%;
	border-top-right-radius: 100%;*/
}

.Rainometer .RainometerNumber{
	text-align: center;
	color: #555;
	font-size: 1.0rem;
}

.Rainometer .RainometerNumber .RainometerNumberUnit{
	font-size: 0.75rem;
	vertical-align: top;
}